<div class="container d-flex justify-content-center align-items-center h-100">
    <div>
        <div class="text-center mb-4">
            <img src="assets/img/logo.png" alt="Logo de la Tour de jeu" class="img-fluid mb-4" id="logo">
            <h3>Connexion à La Tour de Jeu</h3>
        </div>
        <form (ngSubmit)="authenticate()" [formGroup]="authForm">
            <div class="text-center mb-3">
                <input class="rounded w-75" type="text" formControlName="login" placeholder="Nom d'utilisateur" />

                <div *ngIf="submitted && loginCtrl?.hasError('required')">
                    Le nom d'utilisateur est obligatoire
                </div>
            </div>

            <div class="text-center mb-3">
                <input class="rounded w-75" type="password" formControlName="password" placeholder="Mot de passe" />

                <div *ngIf="submitted && authForm.get('password')?.hasError('required')">
                    Le mot de passe est obligatoire
                </div>

                <div *ngIf="submitted && authForm.get('password')?.hasError('minlength')">
                    Le mot de passe doit faire au moins 6 caractères
                </div>
            </div>

            <div class="text-center mb-3">
                <input type="submit" class="btn btn-primary rounded w-75" value="Se connecter" />
            </div>
        </form>
        <div class="text-center">
            <small>Pas encore inscrit ? <a href="/inscription">Créer un compte</a></small>
        </div>
        <div class="text-center mb-4">
            <img src="assets/img/bonhomme.png" alt="Bonhomme jaune" class="img-fluid mb-4" id="bonhomme">
        </div>
    </div>

</div>