<div class="container d-flex justify-content-center align-items-center h-100">
    <div>
        <div class="text-center mb-4">
            <img src="assets/img/logo.png" alt="Logo de la Tour de jeu" class="img-fluid mb-4" id="logo">
            <h3>Réservation à La Tour de Jeu</h3>
        </div>
        <form [formGroup]="authForm" (ngSubmit)="onSubmit()">

            <div class="text-center mb-3">
                <input class="rounded w-75" type="date" formControlName="date" placeholder="Date" />
            </div>

            <div class="text-center mb-3">
                <input class="rounded w-75" type="time" formControlName="heure" placeholder="Heure" />
            </div>

            <div class="text-center mb-3">
                <input class="rounded w-75" type="number" formControlName="duree" placeholder="Durée (en heures)" />
            </div>

            <div class="text-center mb-3">
                <input class="rounded w-75" type="number" formControlName="table" placeholder="Table / Surface" />
            </div>

            <div class="text-center mb-3">
                <input class="rounded w-75" type="number" min="1" [attr.max]="capaciteMax" formControlName="capacite"
                    placeholder="Nombre de personnes" />
            </div>

            <div class="text-center mb-3">
                <input type="checkbox" formControlName="gamemaster" id="gamemaster" />
                <label for="gamemaster">Souhaitez-vous un GameMaster ?</label>
            </div>

            <div class="text-center mb-3">
                <input type="submit" class="btn btn-primary rounded w-75" value="Réserver" />
            </div>
        </form>
        <div class="text-center mb-4">
            <img src="assets/img/bonhomme.png" alt="Bonhomme jaune" class="img-fluid mb-4" id="bonhomme">
        </div>
    </div>

</div>