<!--Todo : Ajouter une boucle pour automatiser-->

<div class="container my-4">
  <div class="d-flex justify-content-center">
    <div id="carouselJeu" class="carousel slide w-50 h-50 carousel-fade">
      <div class="carousel-inner">
        <div class="carousel-item active image-container">
          <img src="assets/img/catan.png" class="d-block w-100" alt="Logo du Catan">
        </div>

        <div class="carousel-item image-container">
          <img src="assets/img/monopoly.png" class="d-block w-100" alt="Logo du Monopoly">
        </div>

        <div class="carousel-item image-container">
          <img src="assets/img/uno.png" class="d-block w-100" alt="Logo du Uno">
        </div>

        <div class="carousel-item image-container">
          <img src="assets/img/aventuriers.png" class="d-block w-100" alt="Logo des Aventuriers du Rail">
        </div>
      </div>


      <button class="carousel-control-prev" type="button" data-bs-target="#carouselJeu" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Précédent</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselJeu" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Suivant</span>
      </button>

    </div>
  </div>

  <div class="card mt-5 p-4 bg-light shadow-sm">
    <h5 class="text-center fw-bold mb-3">Le CATAN</h5>
    <p>
      Catan est un jeu de stratégie où les joueurs colonisent une île, construisent des routes, villages et villes
      en échangeant et collectant des ressources.
      Le but est d'atteindre 10 points de victoire en développant son territoire plus efficacement que les autres.
    </p>
    <ul>
      <li><strong>Nombre de joueurs :</strong> 3-4</li>
      <li><strong>Durée :</strong> 75 minutes</li>
      <li><strong>Règles :</strong> <a href="https://www.regledujeu.fr/catane/"
          target="_blank">https://www.regledujeu.fr/catane/</a></li>
    </ul>
  </div>
</div>