<div *ngIf="products | async as dataProduct" class="container my-4">
  <div class="d-flex justify-content-center">
    <div id="carouselJeu" class="carousel slide w-50 h-50 carousel-fade" (slide.bs.carousel)="onSlideChange($event)">
      <div class="carousel-inner">
        <div *ngFor="let jeu of dataProduct.jeux; let i = index" class="carousel-item" [class.active]="i === 0">
          <img [src]="jeu.urlImage" class="d-block w-100" alt="Logo du Catan">
        </div>
      </div>

      <button class="carousel-control-prev" type="button" data-bs-target="#carouselJeu" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Précédent</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselJeu" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Suivant</span>
      </button>

    </div>
  </div>

  <div class="card mt-5 p-4 bg-light shadow-sm" *ngIf="selectedJeu">
    <h5 class="text-center fw-bold mb-3">{{selectedJeu.nom}}</h5>
    <ul>
      <li><strong>Nombre de joueurs :</strong> {{selectedJeu.nbMin}}-{{selectedJeu.nbMax}}</li>
      <li><strong>Durée :</strong> {{selectedJeu.duree}} heure(s)</li>
      <li *ngIf="selectedJeu.urlRegle">
        <strong>Règles : </strong>
        <a [href]="selectedJeu.urlRegle" target="_blank">Cliquez pour connaître les règles du jeu !</a>
      </li>
      <li *ngIf="!selectedJeu.urlRegle">
        <strong>Règles :</strong> Aucune règle disponible.
      </li>
    </ul>
  </div>
</div>