<!--- Todo : Ajouter des boucles pour récupérer en automatique -->
<!--- Todo : Les produits et les jeux ne s'affichent qu'en cliquant sur la réservation concernée et s'ils existent-->

<div class="d-flex justify-content-center">
    <div class="w-75">
        <div class="colorblue">
            <h5>L'équipe de La Tour de Jeu est heureuse de vous revoir Monsieur X</h5>
            <p class="fs-6 fst-italic">Nous tenons à vous rappeler que le catalogue de jeux évolue constamment, n’hésitez pas à le consulter et
                à réserver votre prochaine partie de plaisir. </p>
        </div>
        <div class="d-flex justify-content-center">
            <div class="card bg-light">
                <h3 class="card-header">Historique des réservations</h3>

                <div class="card-body">
                    <h5 class="card-title text-center">Réservation numéro : 12345A</h5>
                    <ul class="list-group">
                        <li class="list-group-item">Date : 01/03/2025</li>
                        <li class="list-group-item">Durée : 2 heures</li>
                        <li class="list-group-item">Nombre de personnes : 4</li>
                        <button type="button" class="list-group-item list-group-item-action">Produits consomés</button>
                        <button type="button" class="list-group-item list-group-item-action">Jeux empruntés ou achetés</button>
                    </ul>
                </div>
            </div>

            <div class="ms-auto">
                <div class="card bg-light mb-3">
                    <h3 class="card-header">Produits consommés</h3>
    
                    <div class="card-body">
                        <h5 class="card-title text-center">Réservation numéro : 12345A</h5>
                        <ul class="list-group">
                            <li class="list-group-item">2 Coca Cola</li>
                            <li class="list-group-item">1 Café</li>
                        </ul>
                    </div>
                </div>
                
                <div class="card bg-light">
                    <h3 class="card-header">Jeux</h3>
    
                    <div class="card-body">
                        <h5 class="card-title text-center">Réservation numéro : 12345A</h5>
                        <ul class="list-group">
                            <li class="list-group-item">Catan (emprunté)</li>
                            <li class="list-group-item">Uno (acheté)</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>