<div class="container my-5">
  <div class="row">
    <div class="col-md-6">
      <img src="assets/img/accueil.png" alt="Personnes jouant à des jeux de société" class="img-fluid mb-4">

      <h2>
        🍸 <strong>Concept</strong>
      </h2>
      <p>La Tour de Jeu, c’est un bar à jeux de société pour tous les âges et tous les styles !</p>

      <p>🃏 Que vous soyez stratège de l'extrême, amateur de jeux d’ambiance ou explorateur de mondes imaginaires, on a
        plus de 500 jeux à découvrir sur place.</p>

      <p>👨‍👩‍👧‍👦 En solo, en couple, en famille ou entre potes : venez jouer dans une ambiance conviviale,
        accompagné de bières artisanales, cocktails maison, et de planches à partager.</p>

      <p>🎲 Et pas besoin d’être expert : nos animateurs ludiques sont là pour vous conseiller et expliquer les règles !
      </p>
    </div>

    <div class="col-md-6">
      <h1><strong>Bienvenue dans votre QG ludique à Lille !</strong></h1>
      <p>Un lieu cosy, chaleureux et haut en couleurs, où l'on joue, on boit, on mange… et on rit beaucoup.</p>

      <h3 class="mt-5">
        📍 <strong>Adresse</strong>
      </h3>
      <p>1 rue de Lille<br>59000 Lille</p>
      <app-map></app-map>
    </div>
  </div>
</div>